
<div class="card">
    <div align="center" class="card-header text-white bg-info ">
        <div class="row">
            <img src="/img/dinheiro2.png" alt="" width="50" height="50" >
            <h2 style="margin-left: 10px;" class="mt-1">Buscar Receita</h2>
        </div>
    </div>    
    <div class="card-body">
        <form method="POST" action="pesquisa" class="form-inline my-2 my-lg-0">
            <input name="busca" class="form-control mr-sm-2" type="text" placeholder="Pesquisar Receita" aria-label="Pesquisar Receita">
            <select name="opcao" class="form-control mr-sm-2" id="exampleFormControlSelect1">
                <option value="0">Data</option>
                <option value="1">Descrição</option>
                <option value="2">Tipo da Receita - Lucro</option>
                <option value="3">Tipo da Receita - Despesa</option>
            </select>    
            <button class="btn btn-primary my-2 my-sm-0" type="submit"> <img src="/img/search.png" alt="Deletar Receita"
                    width="20" height="20"> Buscar</button>
        </form>
    </div>
</div>

<table class="table table-hover table-bordered table-secondary">
  <thead>
    <tr align="center">
      <th scope="col">Data</th>
      <th scope="col">Descrição</th>
      <th scope="col">Valor em R$</th>
      <th scope="col">Tipo</th>
      <th scope="col">Ações</th>
    </tr>
  </thead>
   <tbody>
      {{#each receitas}} 
        <tr>
        <td align="center">{{data}}</td>
        <td align="center">{{descricao}}</td>
        <td align="center">{{valor}}</td>
        <td align="center">{{tipo}}</td>     
        <td align="center">
            <div class="">
                <form class="d-inline p-2" action="deletar" method="POST">
                    <input type="hidden" name="id" value="{{_id}}">
                    <button class="btn btn-info" title="Deletar Receita" ><img src="/img/delete.png" alt="Deletar Receita" width="20" height="20"> Excluir </button>
                </form>
            </div>
            
        </td>
        </tr>
    {{else}}

    {{/each}}  

     
  </tbody>

</table>